# gitignore theme for Drupal 8 projects

# Ignore drupal core (if not versioning drupal sources)
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.htaccess
/autoload.php
/composer.json
/composer.lock
/index.php

# Ignore custom folder and files
/node_modules
/sftp-config.json
/css/logist.css.map
/gulpfile.js
